{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "printWidth": 80,
        "endOfLine": "auto",
        "arrowParens": "avoid",
        "trailingComma": "none"
      }
    ]
  }
}
